body {
    font-family: Arial;
}

input {
    padding: 10px;
    width: 400px;
}

button {
    padding: 11px;
    background: blue;
    border: blue;
    color: white;
    font-weight: bold;
}

.siteList {
    padding: 0px 20px;
    margin-bottom: 20px;
}

hr {
    border: none;
    border-bottom: 1px solid #ddd;
}

.siteList a {
    color: blue;
}

.siteList .displayUrl {
    color: #019030;
}
